<body background="assets/fondo/fondo1.png">


<nav class="navbar navbar-light bg-light shadow">
  <div class="container-fluid">

<h3></h3>

    <h3 class="navbar-brand animate__heartBeat animate__delay-5s text-center">
      <img class="rounded-circle img-fluid width-100"
           src="assets/fotoPerfil.jpg"
           style="box-shadow: 0 0 0 4px #ececec; margin-bottom: 1rem; max-width: 5rem"
           alt="User image">
      <br>
      Alisson López
      <br>
      Desarrolladora web 🇪🇨
    </h3>
  <h3></h3>

  </div>
</nav>



<div class="row" style="margin: 2rem; padding-bottom: 5rem">
<!--  <div class="col-xl-6" style="text-decoration-color: #00bcd4">-->

<!--<h3 style="padding-bottom: 1rem">Proyectos realizados</h3>-->
<!--    <div class="swiper-container">-->
<!--      <div class="swiper-wrapper">-->
<!--        <div class="swiper-slide"-->
<!--             *ngFor="let img of imagenesSlide">-->
<!--          <a [href]="img.url"-->
<!--             target="_blank"-->
<!--          >-->
<!--            <img [src]="img.path" class="img-fluid" alt="" style="max-width: 35rem">-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row" style="padding-top: 1rem">-->
<!--      <div class="col-lg-4"></div>-->
<!--      <div class="col-lg-4 text-center">-->
<!--        <div class="d-grid gap-2">-->
<!--          <a type="button" class="btn btn-warning"-->
<!--             href="assets/cv-pdf/cv-alimonse.pdf" download="cv-alimonse.pdf">Descargar CV</a>-->
<!--        </div>-->
<!--      </div>-->



<!--      <div class="col-lg-4 text-end" >-->


<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-4"></div>-->
<!--      <div class="col-lg-4 text-center" style="padding-top: 1rem">-->

<!--        <a href="https://github.com/alimonse"-->
<!--           target="_blank">-->
<!--          <img class="rounded-circle img-fluid width-100"-->
<!--               src="assets/redes/github_P.png"-->
<!--               style="margin-bottom: 1rem; max-width: 4rem"-->
<!--               alt="User image"-->
<!--          >-->
<!--        </a>-->

<!--        <a href="https://www.linkedin.com/in/alisson-l%C3%B3pez-7bb06b184/"-->
<!--           target="_blank">-->
<!--          <img class="rounded-circle img-fluid width-100"-->
<!--               src="assets/redes/linkedin.jpeg"-->
<!--               style="margin-bottom: 1rem; max-width: 3rem"-->
<!--               alt="User image"-->
<!--          >-->
<!--        </a>-->




<!--      </div>-->
<!--      <div class="col-lg-4"></div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="col-xl-6">
    <h3 style="padding-bottom: 1rem">Proyectos realizados</h3>

    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="imagenesSlide[0].path" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="imagenesSlide[1].path" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="imagenesSlide[2].path" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="imagenesSlide[3].path" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="imagenesSlide[4].path" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center" style="padding-top: 1rem">


          <div class="d-grid gap-2">
            <a type="button" class="btn btn-warning"
               href="assets/cv-pdf/cv-alimonse.pdf" download="cv-alimonse.pdf">Descargar CV</a>
          </div>


          <a href="https://github.com/alimonse"
             target="_blank">
            <img class="rounded-circle img-fluid width-100"
                 src="assets/redes/github_P.png"
                 style="margin-bottom: 1rem; max-width: 4rem"
                 alt="User image"
            >
          </a>

          <a href="https://www.linkedin.com/in/alisson-l%C3%B3pez-7bb06b184/"
             target="_blank">
            <img class="rounded-circle img-fluid width-100"
                 src="assets/redes/linkedin.jpeg"
                 style="margin-bottom: 1rem; max-width: 3rem"
                 alt="User image"
            >
          </a>





          </div>
        <div class="col-lg-4"></div>
      </div>


  </div>



  <div class="col-xl-6">
    <p-tabView [style]="">
      <p-tabPanel header="Sobre mi">
        <p style="text-align: justify">Soy Alisson López, actualmente
          egresada de la Escuela Politécnica Nacional,
          me encuentro realizando mi tesis trata sobre el agendar citas utilizando un bot,
          este bot administra básicamente los recursos de la empresa o de la persona
          que desee utilizarlo, llevo alrededor de 3 años trabajando en Manticore labs
          en donde empece como pasante y ahora ya soy parte del equipo, he sido parte
          de proyectos desde la obtención de requerimientos hasta el despliegue y pruebas
          finales, lo más bonito de mi trabajo es el equipo, la comunidad en general y lo accesible
          que es el conocimiento hoy, me gusta estar con mi familia jugar con mis mascotas y escuchar música,
          me adapto con facilidad a las personas, próximamente me graduaré y creo que es hora de salir de mi zona
          de confort y buscar nuevos caminos.</p>

      </p-tabPanel>
      <p-tabPanel header="Experiencia laboral">
        <mat-accordion class="align-items-start" multi>
          <mat-expansion-panel [expanded]="step === 0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Manticore Labs</h3>
                <br>
              </mat-panel-title>
              <mat-panel-description>
                <h4><strong>Cargo:</strong> Web developer</h4>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="col-lg-6" *ngFor="let experiencia of experiencias">
                <app-card-experiencia
                  [path]="experiencia.path"
                  [herramientas]="experiencia.herramientas"
                  [texto]="experiencia.texto"
                  [titulo]="experiencia.titulo"
                >
                </app-card-experiencia>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </p-tabPanel>
      <p-tabPanel header="Habilidades">
        <div class="row">
          <div class="col-sm-3 text-center"
               style="padding-top: 2rem"
               *ngFor="let skill of skills">
            <app-card-habilidad
              [colorBarra]="skill.colorBarra"
              [nombreSkill]="skill.nombreSkill"
              [path]="skill.path"
              [porcentaje]="skill.porcentaje"
              [porcentajeSkill]="skill.porcentajeSkill">
            </app-card-habilidad>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<footer>
  <div class="text-center">@alimonse © 2021
  </div>
</footer>
