<div class="card mb-3" style="max-width: 350px; box-shadow: #4d646f">
  <div class="row g-0">
    <div class="col-md-4" style="text-align: center">
      <img [src]="path" style="margin-top: 1.5rem; max-width: 125px" alt="card imagen" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <p class="card-text" style="text-align: justify">{{texto}}</p>
        <p class="card-text"><small class="text-muted">{{herramientas}}</small></p>
      </div>
    </div>
  </div>
</div>
